<div class="container-fluid">

    <div class="row" style="margin-left:10px;margin-bottom:20px">
        <ul class="nav nav-pills">
            <li role="presentation"><a class="link"  ng-click="setToday()">На сегодня</a></li>
            <li role="presentation"><a class="link"  ng-click="setTomorrow()">На завтра</a></li>
            <li role="presentation"><a class="link" ng-click="setCurrentHolidays()">На эти выходные</a></li>
            <li role="presentation"><a class="link" ng-click="setNextHolidays()">На следующие выходные</a></li>
        </ul>
    </div>

    <div class="row" style="margin-bottom:20px">
        <div class="col-md-2" style="margin:10px">
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown1" role="button"
                   data-toggle="dropdown">
                    <div class="input-group">
                        <input style="font-size: 20px;

    height: 50px;" type="text" class="form-control"
                               value="{{env.startDate|date:'dd-MM-yyyy'}}">
                        <span class="input-group-addon"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="env.startDate"
                                    data-ng-change="changeDate()"
                                    data-datetimepicker-config="{minView:'day', dropdownSelector: '#dropdown1' }"/>
                </ul>
            </div>
        </div>
        <div class="col-md-2" style="margin:10px">
            <div class="dropdown">
                <a class="dropdown-toggle" role="button" id="dropdown2"
                   data-toggle="dropdown">
                    <div class="input-group">
                        <input style="font-size: 20px; height: 50px;" type="text" class="form-control"
                               value="{{env.endDate|date:'dd-MM-yyyy'}}">
                        <span class="input-group-addon"><i
                                class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="env.endDate"
                                    data-ng-change="changeDate()"
                                    data-datetimepicker-config="{minView:'day', dropdownSelector: '#dropdown2'  }"/>
                </ul>
            </div>
        </div>

        <div class="col-md-2" style="margin:10px">
            <select style="height: 50px;font-size: 20px;" class="form-control" ng-model="env.status"
                    data-ng-change="changeStatus(env.status)">
                <option value="">Статус</option>
                <option value="new">Нужно отдать</option>
                <option value="working">Нужно принять</option>
                <option value="closed">Закрытые</option>
                <option value="canceled">Отмененные</option>
            </select>
        </div>
    </div>

    <div class="row" style="margin-left:10px;margin-bottom:20px">
        <ul class="nav nav-pills">
            <li role="presentation"  class="link" ng-class="{'active':env.action=='orders'}"><a
                    ng-click="setAction('orders')">Заказы <span class="badge">{{env.busyKayaks.length}}</span></a></li>
            <li role="presentation"  class="link" ng-class="{'active':env.action=='free'}"><a ng-click="setAction('free')">Сводобно <span class="badge">{{env.freeKayaks.length}}</span></a></li>
            <li role="presentation"  class="link" ng-class="{'active':env.action=='transfer'}"><a ng-click="setAction('transfer')">Задачи <span class="badge">{{env.total_tasks}}</span></a>
            </li>
            <li role="presentation"  class="link" ng-class="{'active':env.action=='waiting'}"><a ng-click="setAction('waiting')">В очереди <span class="badge">{{env.waiting_orders.length}}</span></a>
            </li>
        </ul>
    </div>

    <div ng-if="env.action=='free'" style="margin:10px" class="row">

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="env.begin_evening_flag"> После 19:00
            </label>
        </div>
        <table class="table table-striped table-hover">
            <tbody>
            <tr ng-repeat="kayak in env.freeKayaks" ng-class="{'danger': kayak.busy_after_evening==true}">
                <td><input type="checkbox" checklist-model="env.selected_kayaks" checklist-value="kayak"></td>
                <td>{{kayak.title}}</td>
                <td>{{kayak.color}}</td>
                <td>{{kayak.note}}</td>
            </tr>


            </tbody>
            <tfoot>
                <td colspan="4">Итого: {{env.selected_price}}</td>
            </tfoot>
        </table>


    </div>
    <div ng-if="env.action=='orders'" style="margin:10px" class="row">

        <table class="table table-striped table-hover table-bordered">
            <tbody>
            <tr ng-repeat="order in env.busyKayaks"
                ng-class="{'danger':order.status=='canceled', 'warning':order.passport==''||order.passport_name==''}">
                <td style="width: 15px"><a ui-sref="order-edit({id:order.id})">{{order.id}}</a></td>
                <td style="width: 130px">
                    <a href="tel:{{order.phone}}">{{order.phone|tel}}</a>
                </td>

                <td><a target="_blank" ng-href="/pdf/{{order.id}}">{{order.price|currency:'Р'}}</a></td>
                <td style="width: 100px">
                    <span style="color:red" ng-if="order.begin_evening_flag==1"> {{order.BeginShort}}  </span>
                    <span ng-if="order.begin_evening_flag!=1"> {{order.BeginShort}}  </span>
                    <br>{{order.EndShort}}
                </td>
                <td >
                    <strong>Туда: </strong> {{order.delivery_from=='1' ? order.place_of_renting : '-'}}
                    <br>
                    <strong>Обратно: </strong> {{order.delivery_to=='1' ? order.place_of_return : '-'}}

                </td>
                <td style="width: 250px">
                    <ul style="padding-left: 0px;list-style-type: none">
                        <li ng-repeat="kayak in order.kayak"><strong>{{kayak.title}}
                            {{kayak.color}}</strong>
                            {{kayak.note}}
                        </li>
                    </ul>
                </td>

                <td><textarea style="height:100px" class="form-control"
                              ng-change="order.updateNote(order.note)" ng-model="order.note"></textarea>
                </td>
                <!--<td><a href=""><img style="width: 100px"
                                    src="http://icons.iconarchive.com/icons/graphicloads/filetype/256/pdf-icon.png"
                                    alt=""></a></td>-->
                <td style="width: 40px">

                    <button style="width: 85px" type="button" class="btn btn-primary"
                            ng-show="order.status=='new'" ng-click="setWorkStatus(order)">Отдал
                    </button>
                    <button style="width: 85px" type="button" class="btn btn-success"
                            ng-show="order.status=='working'" ng-click="setCloseStatus(order)">Принял
                    </button>
                    <span class="label label-success" ng-show="order.status=='closed'">Закрыт</span>
                    <span class="label label-danger" ng-show="order.status=='canceled'">Отменен</span>

                    <button style="width: 85px" type="button" class="btn label-danger"
                            ng-show="order.status=='new'" ng-click="setCanceledStatus(order)">Отменен
                    </button>


                </td>
            </tr>
            <tr>
                <td colspan="9"> Общая цена: <strong>{{env.total|currency:'Р'}}</strong></td>
            </tr>

            </tbody>
        </table>

    </div>
    <div ng-if="env.action=='transfer'" style="margin:10px" class="row">

        <div ng-repeat="days in env.tasks">
            <h3>{{days.date}}</h3>
            <div class="alert alert-success" role="alert" ng-if="days.tasks.length==0">Нет задач</div>

            <table class="table" ng-if="days.tasks.length>0">
                <tr ng-repeat="task in days.tasks"
                    ng-class="{'warning':(task.type=='order_to' || task.type=='order_from') ,'danger':task.type=='transfer_to' || task.type=='transfer_from','info':task.type=='closed'}">
                    <td>{{task.order.id}}</td>
                    <td>{{task.order.phone|tel}}</td>
                    <td>
                        <span class="glyphicon glyphicon-chevron-right" ng-if=" task.type=='order_to' || task.type=='transfer_to'">{{task.order.place_of_renting}}</span>
                        <span class="glyphicon glyphicon-chevron-left" ng-if="task.type=='order_from' || task.type=='transfer_from'">{{task.order.place_of_return}}</span>


                    </td>
                    <td><ul style="padding-left: 0px;list-style-type: none">
                        <li ng-repeat="kayak in task.order.kayak"><strong>{{kayak.title}}
                            {{kayak.color}}</strong>
                            {{kayak.note}}
                        </li>
                    </ul></td>
                    <td>
                        {{task.order.note}}
                    </td>
                </tr>
            </table>
        </div>


    </div>
    <div ng-if="env.action=='waiting'" style="margin:10px" class="row">

        <div >

            <table class="table">
                <tr ng-repeat="order in env.waiting_orders">
                    <td>{{order.id}}</td>
                    <td>{{order.phone|tel}}</td>
                    <td><ul style="padding-left: 0px;list-style-type: none">
                        <li ng-repeat="kayak in order.kayak"><strong>{{kayak.title}}
                            {{kayak.color}}</strong>
                            {{kayak.note}}
                        </li>
                    </ul></td>
                </tr>
            </table>
        </div>


    </div>

</div>
<!--<div class="panel panel-default">
    <div class="panel-heading col-md-12" >
        <div class="col-md-12">
            <div class="col-md-2">
                <h4>Список дел на выбранные даты</h4>
            </div>

            <div class="col-md-2">
                <div class="dropdown">
                    <a class="dropdown-toggle" role="button"
                       data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   value="{{env.begin_task|date:'dd-MM-yyyy'}}">
                                                                <span class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="env.begin_task"
                                        data-ng-change="changeTaskDate()"
                                        data-datetimepicker-config="{minView:'day' }"/>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <a class="dropdown-toggle" role="button"
                       data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   value="{{env.end_task|date:'dd-MM-yyyy'}}">
                                                                <span class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="env.end_task"
                                        data-ng-change="changeTaskDate()"
                                        data-datetimepicker-config="{minView:'day' }"/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" >
        <table class="table table-striped table-hover table-bordered">
            <tbody>
            <tr ng-repeat="task in env.tasks">
                <td>
                    10 августа
                </td>
                <td>
                    <ul>
                        <li>...</li>
                        <li>.....</li>
                        <li>.....</li>
                        <li>.....</li>
                    </ul>
                </td>
                <td>
                    цена
                </td>
                <td>
                    время
                </td>
                <td>
                    залог
                </td>
                <td>
                    телефон<br>
                    имя
                </td>
            </tr>
            </tbody>
            </table>
    </div>
</div>-->
